<table> 
    <thead>
        <tr>
            <th>Year</th>
            <th>Investment value</th>
            <th>Interest (Year)</th>
            <th>Total Interest</th>
            <th>Invested Capital</th>
        </tr>
    </thead>
    <tbody>
        @for (annualDataEntry of annualData; track annualDataEntry.year) {
            <tr>
                <td>{{ annualDataEntry.year }}</td>
                <td>{{ annualDataEntry.valueEndOfYear | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ annualDataEntry.interest | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ annualDataEntry.totalInterest | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ annualDataEntry.totalAmountInvested | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
        }
    </tbody>
</table>
